<template>
    <Popper class="quiz__tooltip" arrow :show="hover">
      <!-- <img 
        @mouseover="hover = true"
        @mouseleave="hover = false"
        slot="reference" 
        class="quiz__tooltip-icon"
        src="../assets/info.svg"
      /> -->
      <div
        @mouseover="hover = true"
        @mouseleave="hover = false"
        slot="reference"
        class="quiz__tooltip-row" >
        <img
        class="quiz__tooltip-icon"
        src="../assets/info.svg"
      />
      </div>
      <template #content>
        <div style="font-size: 14px; text-transform: capitalize; width: 12em;">{{description}}</div>
      </template>
    </Popper>  
  </template>
  
  <script setup lang="ts">
  import {reactive, ref} from 'vue';
  import Popper from 'vue3-popper';

  const props = defineProps<{
    description: string;
    label: string;
  }>()

  const hover = ref(false);

  </script>
  
  