<script setup lang="ts">
import type { AnalysisObject, QuantityEvent, QuizAnswer, RecommendationDetails, RecommendedProductDetails, StoreProductDetails } from '@/utils/types';
import {createWishlist} from "@/utils/api";
import { getProductImage, getProductCoverImage, getActives, getFunctions, getMatchScore } from "../utils/getters/products";
import { computed, onMounted, ref, watch, type Ref } from 'vue';

interface AnalysisStats {
    value: number,
    color: string,
    text: string
}

const props = defineProps<{
    products: StoreProductDetails[],
    recommendationDetails: RecommendationDetails,
    storeProducts: StoreProductDetails[],
    analysisObj: AnalysisObject,
    concernDesc: QuizAnswer | null,
}>();

const emit = defineEmits(['startover', 'checkout'])

const selectedMatchItemIndex: Ref<number> = ref(0);
const setSelectedMatchItemIndex = ((idx: number) => selectedMatchItemIndex.value = idx);
const recommendedProducts: Ref = ref([]);
const selectedMatchItem = computed(() =>recommendedProducts.value[selectedMatchItemIndex.value]);
const productDesc = ref('');

watch(selectedMatchItemIndex, (newValue, oldValue) => {
    console.log('changingng', newValue, productDesc.value)
    productDesc.value = recommendedProducts.value[newValue].product.body_html;
})

const analysisStats: Ref<AnalysisStats[]> = ref([]);
const isWishing = ref(false);
const isSavingWishedProducts = ref(false);
const isWished = ref(false);
const email = ref('');
const emailValid = ref(true);

const validateEmail = (): boolean => {
  return !!email.value
    .toLowerCase()
    .match(
      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    );
};

const handleWishButton = () => {
    if (isWishing.value) {
        const _valid = validateEmail();
        emailValid.value = _valid;
        if (_valid) {
           addToWishlist();
        }
    } else {
        isWishing.value = true;
    }
}

const addToWishlist = async () => {
    try {
        const products_ = recommendedProducts.value.map(({product}: {product: StoreProductDetails}) => ({name: product.title, slug: product.handle}))
        await createWishlist(products_, email.value, 'Colorblend');
        isWished.value = true;
        isSavingWishedProducts.value = false;
    } catch (error) {
        isSavingWishedProducts.value = false;
    }
}

onMounted(() => {
    const _reco = [...props.products.map((product) => {
        return {quantity: 1, product}
    })];
    recommendedProducts.value = _reco;
    const _concerns = props.analysisObj?.skin_concerns_colours || {};
    const _concernsKeys = Object.keys(_concerns) || [];
    const _concernsArrays = _concernsKeys.map((key) => {
        const _concern = _concerns[key];
        const obj = {
            value: 35,
            color: `rgb(${_concern[0]},${_concern[1]},${_concern[2]})`,
            text: key
        }
        return obj;
    });
    analysisStats.value = [..._concernsArrays]
    productDesc.value = recommendedProducts.value[0].product.body_html
})

const isMatch = ref(true);

const handleTab = (e: Event) => {
    const id = (e?.target as HTMLButtonElement).id;
    isMatch.value = id === 'matches';
}

const adjustQuantity = ({index, type}: QuantityEvent) => {
    if (type === 'add') {
        recommendedProducts.value[index].quantity = recommendedProducts.value[index].quantity + 1;
    } else {
        recommendedProducts.value[index].quantity = recommendedProducts.value[index].quantity - 1;
    }
}

</script>

<template>
    <div class="yt-recommendation-container">
        <div class="yt-reco-tab_nav">
            <button
             id="matches"
             :style="{borderBottom: isMatch ? '2px solid #000000' :'2px solid #929471', color: isMatch ? '#000000' :'#929471' }"
             @click="handleTab"
             >
             MATCHES
            </button>
            <button
             id="analysis"
             :style="{borderBottom: isMatch ? '2px solid #929471' :'2px solid #000000', color: isMatch ? '#929471' :'#000000' }"
             @click="handleTab"
             >
             ANALYSIS
            </button>
        </div>
        <div v-if="isMatch">
            <!-- list container -->
            <div class="yt-recommendation-section">
                <div class="yt-recommendation-row">
                    <div class="yt-products-container">
                        <div class="yt-products-header">Matched Products</div>
                        <div class="yt-products-list">
                            <div class="yt-products-scroll-y">
                                <div class="yt-products-list-card" v-for="(match, index) in recommendedProducts" :key="match.product._id">
                                    <div class="yt-products-card-btns">
                                        <button class="yt-card-btn yt-btn-plus" @click="adjustQuantity({index, type: 'add'})">+</button>
                                        <button class="yt-card-btn yt-btn-minus" @click="adjustQuantity({index, type: 'minus'})" :disabled="(match.quantity === 0)">-</button>
                                    </div>
                                    <div class="yt-products-card-body" @click="setSelectedMatchItemIndex(index)">
                                        <div class="yt-products-card-image" :style="{opacity: match.quantity === 0 ? '0.3' : '1' }">
                                            <img alt="Product image" :src="getProductImage(match.product)" />
                                        </div>
                                        <div class="yt-products-card-info" :style="{opacity: match.quantity === 0 ? '0.3' : '1' }">
                                            <div class="yt-products-card-info-title">{{match.product.title}}</div>
                                        </div>
                                        <div class="yt-products-card-quantity" :style="{opacity: match.quantity === 0 ? '0.3' : '1' }">
                                            Qty: {{match.quantity}}
                                        </div>
                                        <div class="yt-products-card-icon">
                                        <img alt="chevron right" src="../assets/chevron-right.svg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="yt-product-info-container">
                        <div class="yt-products-header">{{ getMatchScore(selectedMatchItem?.product?.handle, recommendationDetails.reco) }} match</div>
                        <div class="yt-product-info-body" v-if="selectedMatchItem?.product">
                            <div class="yt-product-info-left">
                                <div class="yt-product-image">
                                    <img alt="Product image" class="yt-product-image-img" :src="getProductCoverImage(selectedMatchItem?.product)" />
                                    <div class="yt-product-image-title">Essential</div>
                                    <button class="yt-product-image-wishlist">
                                        <img alt="wishlist" src="../assets/heart.svg" />
                                    </button>
                                </div>
                                <div class="yt-product-basic">
                                    <div class="yt-product-basic-title">{{selectedMatchItem?.product?.title}}</div>
                                    <div class="yt-product-basic-price">{{selectedMatchItem?.product?.variants[0].price}}</div>
                                </div>
                                <button class="yt-product-cart-btn">Add to cart</button>
                            </div>
                            <div class="yt-product-info-right">
                                <div class="yt-product-info-column">
                                    <div class="yt-product-info-desc">
                                        <p v-html="productDesc"></p>
                                    </div>
                                    <div class="yt-product-info-list">
                                        <div>Actives:</div>
                                        <span v-for="actives in getActives(selectedMatchItem?.product?.handle, recommendationDetails.reco)">{{actives}},</span>
                                    </div>
                                    <div class="yt-product-info-list">
                                        <div>Functions:</div>
                                        <span v-for="functions in getFunctions(selectedMatchItem?.product?.handle, recommendationDetails.reco)">{{functions}},</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- checkout container -->
            <div class="yt-checkout-container">
                <div class="yt-checkout-info">
                    <span>{{props.products.length}}</span>
                    <p>matched products are in the cart</p>
                </div>
                <button class="yt-checkout-btn" @click="emit('checkout')">checkout</button>
            </div>
            <!-- footer -->
                <div class="yt-wishlist" v-if="isWished">
                    {{props.products.length}} Products Added To Wishlist
                </div>
                <div class="yt-wishlist" v-else>
                    <div class="yt-wishlist_form" :class="[isWishing ? 'yt-wishlist_form-is' : '' ]">
                        <input class="yt-wishlist__input" :style="{borderColor: emailValid ? '' : '#ff0000'}" v-model="email" name="email" id="email" placeholder="Enter your email.." v-if="isWishing"/>
                        <button class="yt-wishlist__btn" :class="[isWishing ? 'yt-wishlist__btn-active' : '' ]" @click="handleWishButton">
                            <img alt="wishlist" class="yt-wishlist-icon" src="../assets/heart.svg" />
                            <span>Add all to wishlist</span>
                        </button>

                    </div>
                </div>
        </div>
        <div v-else>
            <div class="yt-analysis-container">
                <div class="yt-analysis-container_row">
                    <div class="yt-analysis-column_image">
                        <div class="yt-products-header">{{ analysisStats.length }} concerns detected</div>
                        <img :src="analysisObj.image_data" v-if="analysisObj.image_data"/>
                        <div class="yt-camera-prompt" v-else>
                            <!-- <p>Take a selfie or Upload a photo to get skin analysis. </p> -->
                            <button @click="emit('startover')">TAKE A SELFIE</button>
                        </div>
                    </div>
                    <div class="yt-analysis-column_info">
                        <p class="yt-analysis-info" v-if="analysisObj.error_skin_concerns">{{ analysisObj.error_skin_concerns }}</p>
                        <p class="yt-analysis-info" v-else-if="concernDesc">You have {{ concernDesc?.text }} Skin. {{ concernDesc?.description }}</p>
                        <div class="yt-analysis-stats">
                            <div class="yt-analysis-stats_row" v-for="stat in analysisStats" :key="stat.value">
                                <span class="yt-analysis-stats_row-color" :style="{backgroundColor: stat.color, width: stat.value + 'px'}"></span>
                                <span class="yt-analysis-stats_row-text">{{ stat.text }}</span>
                            </div>
                        </div>
                        <div class="yt-analysis-concerns-preference-row">
                            <div class="yt-analysis-concerns">
                                <span class="yt-analysis-label">Concerns:</span>
                                <div class="yt-analysis-value">
                                    <span v-for="concern in recommendationDetails?.concerns">{{ concern }}, </span>
                                </div>
                            </div>
                            <div class="yt-analysis-preference">
                                <span class="yt-analysis-label">Preferences:</span>
                                <span class="yt-analysis-value">Organic</span>
                            </div>
                        </div>
                        <div class="yt-location">
                            <span class="yt-analysis-label">Location: </span> {{ recommendationDetails?.env_info?.city }} ({{ recommendationDetails?.env_info?.uv_index }}, {{ recommendationDetails?.env_info?.air_quality }}, {{ recommendationDetails?.env_info?.humidity }})
                        </div>
                    </div>
                </div>
                <div class="yt-analysis-container_row yt-analysis-container_row-footer">
                    <button class="yt-analysis-btn_start" @click="emit('startover')">START OVER</button>
                </div>
            </div>

            <!-- <div class="yt-reco-footer">Powered by 
               <img alt="Logo" class="yt-logo" src="../assets/yuty-advisor-logo.svg" />
            </div> -->
         </div>
    </div>
</template>
