<script>
// import Camera from "simple-vue-camera";
import Camera from 'easy-js-camera';
import { ref, defineComponent, onMounted, onUnmounted} from "vue";


export default defineComponent({
    components: {},
    setup(props, { emit }) {

        const camera = ref(null);
        const cameraError = ref(null);
        const cameraMessage = ref('Camera ready');
        const webcam = ref(null);
        const canvas = ref(null);
        const activeCamera = ref(true);
        const fileInput = ref(null);

        const startCamera = async () => {
            activeCamera.value = true;
            // var videoElement = document.getElementsByTagName('video')[0];
            // var canvasElement = document.getElementsByTagName('canvas')[0];

            try {
                camera.value = await Camera.tryInvokePermission(webcam.value, canvas.value);
                camera.value.setVideoConstraints({ width: 370, height: 242 });
                camera.value.start();
                cameraError.value = null;
                cameraMessage.value = 'Camera ready';
            } catch (e) {
                cameraError.value = 'Could not access camera';
                activeCamera.value = false;
                console.error(e);
            }
        };

        const takeSelfie = async () => {
            if (cameraError.value) return;
            const snap = await camera.value.snap();
            const snapAsBlob = await camera.value.snapAsBlob();
            const image = snap.toDataURL();
            emit('onready', {imageData: image, imageFile: snapAsBlob})
        };

        const stopCamera = async() => {
            activeCamera.value = false;
            
            try {
                if (camera.value) await camera.value.stop();
                camera.value = null;
            } catch (error) {
                console.log('=====>error==>', error)
            }
        }

        const handleFileUpload = () => {
            fileInput.value.click();
        }

        const onFileSelected = () => {
            const file = fileInput.value.files[0];
            if (file) {
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = () => {
                const dataUrl = reader.result;
                emit('onready', {imageData: dataUrl, imageFile: file})
                };
            }
        };


        onMounted(async() => {
            startCamera();
        })

        onUnmounted(() => {
            stopCamera()
        })

        return {
            activeCamera,
            camera,
            cameraError,
            cameraMessage,
            canvas,
            webcam,
            fileInput,
            takeSelfie,
            stopCamera,
            handleFileUpload,
            onFileSelected
        }
    }
});

</script>

<template>
    <div class="yt-selfie-cam-row">
        <div class="yt-selfie-image_col">
           <div class="yt-products-header">{{ cameraError ? cameraError : cameraMessage }}</div>
           <video
            ref="webcam"
            autoplay
            playsinline
           ></video>
           <canvas ref="canvas"></canvas>
           <div class="yt-selfie-frame">
               <img src="../assets/selfie-fram.svg" />
           </div>
           <button class="yt-camera_btn" @click="takeSelfie()" v-if="activeCamera">
               <img src="../assets/camera.svg" />
            </button>
        </div>
        <div class="yt-slefie-tips_col">
            <div class="yt-slefie-tips_header">
                Camera Tips
            </div>
            <div class="yt-slefie-tips_content">
                <div class="yt-slefie-tips_content-title">
                    Help Yuty make more accurate recommendations by doing the following:
                </div>
                <div class="yt-slefie-tips_reco">
                    <div class="yt-slefie-tips_reco-label">1.</div>
                    <div class="yt-slefie-tips_reco-value">
                        Keep face clear of hair and remove eyewear.
                    </div>
                </div>
                <div class="yt-slefie-tips_reco">
                    <div class="yt-slefie-tips_reco-label">2.</div>
                    <div class="yt-slefie-tips_reco-value">
                        Ensure face is free from makeup.
                    </div>
                </div>
                <div class="yt-slefie-tips_reco">
                    <div class="yt-slefie-tips_reco-label">3.</div>
                    <div class="yt-slefie-tips_reco-value">
                        Ensure there are minimal shadows (natural sunlight if possible).
                    </div>
                </div>
                <div class="yt-slefie-tips_reco">
                    <div class="yt-slefie-tips_reco-label">4.</div>
                    <div class="yt-slefie-tips_reco-value">
                        Keep face centred with a neutral expression.
                    </div>
                </div>
            </div>
            <input type="file" accept=".jpg, .jpeg, .png" ref="fileInput" @change="onFileSelected" style="display: none" />
            <button class="yt-slefie-tips_footer" @click="handleFileUpload">
                or, upload a photo
            </button>
        </div>
    </div>
</template>