<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import SelfieCamera from './SelfieCamera.vue';
import SelfieLoader from './SelfieLoader.vue';
import SelfieAnalysis from './SelfieAnalysis.vue';
import type { Answer } from '../utils/types';

const props = defineProps<{
    skinQuizId: string | null,
    isSelfieCamera: boolean,
    isUploadingImage: boolean,
    isImageAnalysis: boolean,
    isFreshCamera: boolean,
    questionId: string,
    answers: Answer[],
    analysisObj: {}
}>();

const _answers = ref<Answer[]>([]);

const imageUrl = ref('');
const isCameraReady = computed(() => !!props.skinQuizId);

const emit = defineEmits(['changesection', 'camerastate', 'updateselfiesection', 'updateanswer'])

const handleNav = (type: string) => {
    if (type === 'back') {
        emit('updateselfiesection', {
            isCamera: true,
            isLoading: false,
            isAnalysis: false
        })
    }

    if (type === 'skip' || type === 'goals') emit('changesection', {section: 'quiz'});

    if (type === 'match') emit('changesection', {section: 'reco'});
}

const getImageAnalysis = ({imageData, imageFile}: {
  imageData: string,
  imageFile: Blob
}) => {
    imageUrl.value = imageData;
    const _answer: Answer = {
        id: props.questionId,
        type: 'makeup',
        isImage: true,
        isFreetext: false,
        answers: imageData
    }

    _answers.value.push(_answer);
    emit('updateanswer', {_answers: [..._answers.value], imageData, imageFile})
}

const updateCameraState = () => {
    emit('camerastate')
}

onMounted(() => {
    if (!props.isFreshCamera) {
        emit('updateselfiesection', {
            isCamera: false,
            isLoading: false,
            isAnalysis: true
        })
    }
    _answers.value = [...props.answers];
})
</script>

<template>
    <div class="yt-selfie-container">
        <div class="yt-selfie-content">
            <div class="yt-selfie-scroll">
                <SelfieCamera :skinQuizId="skinQuizId" :isCameraReady="isCameraReady" @onready="getImageAnalysis" v-if="isSelfieCamera" />
                <SelfieLoader :imageUrl="imageUrl" v-if="isUploadingImage" />
                <SelfieAnalysis :analysisObj="analysisObj" :imageUrl="imageUrl" @onload="updateCameraState" v-if="isImageAnalysis" />
            </div>
        </div>
        <div class="yt-selfie-footer">
            <div class="yt-selfie-footer_col-left">
                <button class="yt-selfie-footer_btn" id="back" @click="handleNav('back')" v-if="isImageAnalysis">
                    <img src="../assets/chevron-left.svg" />
                    Back
                </button>

            </div>
            <div class="yt-selfie-footer_col-right">
                <button class="yt-selfie-footer_btn" id="skip" @click="handleNav('skip')" v-if="isSelfieCamera || isUploadingImage">
                    Skip selfie
                    <img src="../assets/chevron-right.svg" />
                </button>
                <button class="yt-selfie-footer_btn" id="goals" @click="handleNav('goals')" v-if="isImageAnalysis">
                    Tell Us Your Goals
                    <img src="../assets/chevron-right.svg" />
                </button>
            </div>
        </div>
    </div>
</template>
