<script setup lang="ts">
import { onMounted } from 'vue';

const props = defineProps<{
    imageUrl: string
}>()

onMounted(() => {})
</script>

<template>
    <div class="yt-selfie-loader">
        <img class="yt-selfie-img" :src="imageUrl" />
        <div class="yt-ring-loader_container">
          <img class="yt-ring-loader" src="../assets/rings.svg" />
        </div>
    </div>
</template>