<script setup lang="ts">
import type { AnalysisObject } from '@/utils/types';
import { onMounted, ref, type Ref } from 'vue';

interface AnalysisStats {
    value: number,
    color: string,
    text: string
}

const emit = defineEmits(['onload']);

const props = defineProps<{
    analysisObj: AnalysisObject,
    imageUrl: string
}>();

const analysisStats: Ref<AnalysisStats[]> = ref([]);

onMounted(() => {
    const _concerns = props.analysisObj?.skin_concerns_colours || {};
    const _concernsKeys = Object.keys(_concerns) || [];
    const _concernsArrays = _concernsKeys.map((key) => {
        const _concern = _concerns[key];
        const obj = {
            value: 35,
            color: `rgb(${_concern[0]},${_concern[1]},${_concern[2]})`,
            text: key
        }
        return obj;
    });
    analysisStats.value = [..._concernsArrays]
    emit('onload');
})

</script>

<template>
    <div class="yt-selfie-row">
        <div class="yt-selfie-image_col">
           <div class="yt-products-header">{{ analysisStats.length }} concerns detected</div>
           <div class="yt-selfie-image_col-img">
             <img :src="analysisObj.image_data" v-if="analysisObj.image_data"/>
             <img :src="imageUrl" v-else/>
           </div>
        </div>
        <div class="yt-slefie-tips_col">
            <div class="yt-slefie-tips_header">
                Our Analysis
            </div>
            <div class="yt-analysis-column_info">
                <p class="yt-analysis-info" v-if="analysisObj.error_skin_concerns">{{ analysisObj.error_skin_concerns }}</p>
                <div class="yt-analysis-stats">
                    <div class="yt-analysis-stats_row" v-for="stat in analysisStats" :key="stat.value">
                        <span class="yt-analysis-stats_row-color" :style="{backgroundColor: stat.color, width: stat.value + 'px'}"></span>
                        <span class="yt-analysis-stats_row-text">{{ stat.text }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>