<template>
  <PStack>
    <PStackItem>
      <PModal
        :open="isOpen"
        sectioned
        :primaryAction='{"content":"Save Customer"}'
        :secondaryActions='[{"content":"Delete Customer","destructive":true},{"content":"Cancel"}]'
        title="Enter Customer Details"
      >
        <PFormLayout>
          <PTextField label="First Name" />
          <PTextField label="Last Name Name" />
          <PTextField label="Email" type="email" />
        </PFormLayout>
      </PModal>
    </PStackItem>
    <PStackItem><PButton>Open Modal</PButton></PStackItem>
  </PStack>
</template>
  
  <script>
  import  {ref } from "vue";
  import { PStack, PModal, PFormLayout, PTextField } from "@hulkapps/polaris-vue"

  export default ({
      props: {
          isOpen: {
              default: false,
              type: Boolean
          }
      },
    components: {
        PStack,
        PModal,
        PFormLayout,
        PTextField
    },
    setup(props, { root, emit }) {

    }
  })
  
  </script>
  <style>

  </style>