<script setup lang="ts">
import { ref, onMounted, reactive, type Ref, computed } from 'vue';
import Question from './Question.vue';
import type {
  AnalysisObject, 
  Answer, 
  ImageAnswer, 
  QuizQuestion, 
  RecommendationDetails,
  StoreProductDetails,
  SelfieSectionEvent,
QuizAnswer
} from '@/utils/types';
import { 
  createQuiz,
  getQuestions, 
  updateAnswer, 
  getReco, 
  getStoreProducts,
  skinAdvisorImage, 
  makeupAdvisorImage,
  getCart,
  addToCart
} from '@/utils/api';
import { extractSlugFromReco } from "../utils/serializers/products";
import Recommendations from './Recommendations.vue';
import TermsConditions from './TermsConditions.vue';
import Selfie from './Selfie.vue';
import CircularLoader from './CircularLoader.vue';

const props = defineProps<{
    isOpen: boolean,
    logo: string,
}>();

const emit = defineEmits(['toggleModal'])

const answers = ref<Answer[]>([]);
const isTerms = ref(true);
const isSelfie = ref(false);
const isQuiz = ref(false);
const isReco = ref(false);
const isCircularLoader = ref(false);
const questions = ref<QuizQuestion[]>([]);
const concernDesc = ref<QuizAnswer | null>(null)

const quizId = ref<string | null>(null);
const skinQuizId = ref<string | null>(null);
let recommendationDetails: RecommendationDetails = reactive({});
const products: Ref<StoreProductDetails[]> = ref([]);
const storeProducts: Ref<StoreProductDetails[]> = ref([]);

const isFreshCamera = ref(true);
let analysisObj: AnalysisObject = reactive({})
const isSelfieCamera = ref(true);
const isUploadingImage = ref(false);
const isImageAnalysis = ref(false);

const imageUrl = ref('');

const getRecommendations = ({_answers}: {_answers: Answer[]}) => {
  answers.value = [..._answers];
  fetchReco();
  isReco.value = false;
  isCircularLoader.value = true;
  isQuiz.value = false;
}

const updateImageAnswer = async ({_answers, imageData, imageFile}: ImageAnswer) => {
  isSelfie.value = false;
  isQuiz.value = true;
  isSelfieCamera.value = false;
  isUploadingImage.value = true;
  answers.value = [..._answers];
  imageUrl.value = imageData;
  try {
    const [analysis_, makeup_] = skinQuizId.value && quizId.value ? await Promise.all([
        skinAdvisorImage(skinQuizId.value, imageFile),
        makeupAdvisorImage(quizId.value, imageFile)
    ]) : [];
    analysisObj = {...analysis_}
    isUploadingImage.value = false;
    isImageAnalysis.value = true
  } catch (error) {
    console.log('=====>error uploading')
    console.log(error);
    isSelfieCamera.value = true;
    isUploadingImage.value = false;
  }
}

const loadCamera = () => {
  isSelfie.value = true;
  isQuiz.value = false;
  isReco.value = false;
}

const switchSections = ({section}: {section: string}) => {
  if (section === 'quiz') {
     isQuiz.value = true;
     isSelfie.value = false;
  }

  if (section === 'reco') {
     isSelfie.value = false;
     //fetchRecoFromSelfie();
  }
}

const changeCameraState = () => {
  isFreshCamera.value = false;
}

const updateSelfieSection = ({isCamera, isLoading, isAnalysis}: SelfieSectionEvent) => {
    isSelfieCamera.value = isCamera;
    isUploadingImage.value = isLoading;
    isImageAnalysis.value = isAnalysis
}

const handleTerms = () => {
  if (questions.value[0].text === 'Capture Snap') {
    createQuiz_();
    isSelfie.value = true;
  } else {
    isQuiz.value = true;

  }
  isTerms.value = false;
}

const fetchQuestions = async () => {
  try {
    const _questions = await getQuestions('makeup');
    questions.value = [..._questions]
  } catch (e) {
    console.error(e);
  }
}

const createQuiz_ = async () => {
  try {
    const [ skinQuiz, makeupQuiz] = await Promise.all([
      createQuiz(answers.value, 'foundation_adv'),
      createQuiz(answers.value, 'makeup')
    ]);
    skinQuizId.value = skinQuiz.id;
    quizId.value = makeupQuiz.id;
    // skinQuizId.value = "1425";
    // quizId.value = "1426";
  } catch (e) {
    console.error(e);
  }
}

const fetchReco = async () => {
  console.log('====Generating recommendation from quiz')
  isCircularLoader.value = true;
  getSkinConcernDesc();
  try {
    if (!quizId.value) throw Error('Quiz Id is missing');

    await updateAnswer(answers.value, quizId.value);
    const recoObj = await getReco(quizId.value);
    recommendationDetails = {
      ...recoObj
    }
    // const recoIds = recoObj.reco.length ? await extractIdsFromReco(recoObj.reco) : [];
    // const recoProducts = recoIds.length ? await getRecommendedProducts(recoIds) : [];
    const recoSlugs = recoObj.reco.length ? await extractSlugFromReco(recoObj.reco) : [];
    const recoProducts = recoSlugs.length ? storeProducts.value.filter((product) => recoSlugs.includes(product.handle)) : [];
    products.value = [...recoProducts];
    _addToCart();
    isCircularLoader.value = false;
    isReco.value = true;
  } catch (e) {
    console.error(e);
    isCircularLoader.value = false;
    isReco.value = true;
  }
}

const getSkinConcernDesc = () => {
  const _questionId = questions.value[1].id;
  const _answers = questions.value[1].answers;
  const _choices = answers.value.find(item => item.id == _questionId)?.answers || [];
  const _answer = _answers.find(item => item.id == _choices[0]) || null;
  concernDesc.value = _answer
}

// const fetchRecoFromSelfie = async () => {
//   console.log('====Generating recommendation from selfie analysis')
//   isCircularLoader.value = true;
//   try {
//     const recoIds = analysisObj.recommended_products?.length ? await extractIdsFromReco(analysisObj.recommended_products) : [];
//     const recoProducts = recoIds.length ? await getRecommendedProducts(recoIds) : []
//     products.value = [...recoProducts];
//     isCircularLoader.value = false;
//     isReco.value = true;
//   } catch (e) {
//     console.error(e);
//     isCircularLoader.value = false;
//     isReco.value = true;
//   }
// }


const startOver = () => {
  isFreshCamera.value = true;
  isSelfie.value = true;
  isQuiz.value = false;
  isReco.value = false;
}

const fetchStoreProducts = async () => {
  try {
    const _storeProducst = await getStoreProducts();
    storeProducts.value = [..._storeProducst.products]
  } catch (e) {
    console.error(e);
  }
}

const fetchCart = async () => {
  try {
    const cart = await getCart();
  } catch (e) {
    console.error(e);
  }

}

const _addToCart = async () => {

  try {
    const cart = await addToCart(products.value);
  } catch (e) {
    console.log('failed to add to cart')
    console.error(e);
  }
}

const goToCart = () => {
  window.location.href = `${window.location.origin}/cart`;
  emit('toggleModal')
}

const imgPath = (name: string) => {
    return new URL(`../assets/${name}`, import.meta.url).href
}

const logo = computed(() => {
    return props.logo !== '' ? props.logo : imgPath('yuty-advisor-logo.svg')
});

onMounted(() => {
  fetchQuestions();
  fetchStoreProducts();
  fetchCart();
})

</script>

<template>
  <transition name="modal-fade">
    <div class="yt-modal-overlay" v-if="isOpen">
      <div 
        class="yt-modal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <div class="yt-header">
          <img alt="logo" class="yt-client-logo" :src="logo" v-if="!isTerms"/>
          <button class="yt-bt-close" @click="$emit('toggleModal')" aria-label="Close modal">
            <img alt="Close Icon" src="../assets/close.svg" />
          </button>
        </div>
        <div class="yt-container">

          <TermsConditions
           :logo=logo 
           @ready="handleTerms" 
           v-if="isTerms"
         />
          <Selfie
           :skinQuizId="skinQuizId"
           :isSelfieCamera="isSelfieCamera" 
           :isUploadingImage="isUploadingImage" 
           :isImageAnalysis="isImageAnalysis" 
           :analysisObj="analysisObj" 
           :answers="answers" 
           :questionId="questions[0].id"
           :isFreshCamera="isFreshCamera" 
           @updateselfiesection="updateSelfieSection" 
           @camerastate="changeCameraState" 
           @changesection="switchSections" 
           @updateanswer="updateImageAnswer" 
           v-if="isSelfie"
          />
          <Question 
           :answers="answers" 
           :questions="questions" 
           :logo="logo" 
           @getcamera="loadCamera" 
           @onready="getRecommendations"
           v-if="isQuiz" 
          />
          <Recommendations
           :products="products" 
           :analysisObj="analysisObj" 
           :recommendationDetails="recommendationDetails" 
           :storeProducts="storeProducts"
           :logo="logo" 
           :concernDesc="concernDesc"
           @startover="startOver" 
           @checkout="goToCart"
           v-if="isReco" 
          />
          <CircularLoader v-if="isCircularLoader"/>
        </div>

        <div class="yt-footer">Powered by 
          <img alt="Logo" class="yt-logo" src="../assets/yuty-advisor-logo.svg" />
        </div>
      </div>
    </div>
  </transition>
</template>
